/* Custom Stylesheet */

/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

@font-face {
    font-family: "iran-sans";
    src: url("fonts/iran-sans-400.eot");
    src: url("fonts/iran-sans-400.eot?#iefix") format("embedded-opentype"), url("fonts/iran-sans-400.woff2") format("woff2"), url("fonts/iran-sans-400.woff") format("woff"), url("fonts/iran-sans-400.ttf") format("truetype");
    font-weight: 400;
}
.container {
    width: 80%;
    max-width: initial;
    >.row {
        margin: 0;
        >.col {
            padding: 0;
        }
    }
}
html {
    font-family: "iran-sans";
}
body {
    font-family: "iran-sans";
}
nav {
    height: auto !important;
    min-height: auto !important;
}
.brand-logo {
    font-size: 1.5rem !important;
}
nav ul a, nav .brand-logo {
    color: #444;
    position: relative;
    display: inline-block;
}
p {
    line-height: 2rem;
}
:focus {
    outline: none !important;
}
.clear {
    clear: both;
}
.sidenav-trigger {
    color: #26a69a;
}
.parallax-container {
    min-height: 650px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}
.parallax img {
    transform: translate3d(-50%, 207.019px, 0px) !important;
    opacity: 1 !important;
}
.parallax-container .section {
    width: 100%;
}
@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}
@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
.menu-site {
    float: none !important;
    line-height: normal !important;
}
.menu-site li {
    float: none !important;
    display: inline-block;
}
.menu-site a {
    padding-bottom: 5px !important;
    border-bottom: 3px solid #FFF;
}
.menu-site a:hover {
    background: none;
    border-bottom: 3px solid #FF7700;
}
#index-banner h5.header {
    border-bottom: 3px solid #FF7700;
    display: inline-block;
    padding-top: 5%;
    width: 50%;
}
.services-section h5 {
    border-bottom: 2px solid #FF7700;
    display: inline-block;
}
/* the slides */

#slick1 .slick-slide {
    margin-left: 27px;
}
/* the parent */

#slick1 .slick-list {
    margin-left: -27px;
}
.slick-wrapper {
    width: 100%%;
}
#slick1 .slide-item {
    border-radius: 10px;
    background-color: #EEF2F6;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
    text-align: center;
    height: 170px;
    border-bottom: 5px solid #FF7700;
}
#slick1 .slide-item img {
    display: inline-block !important;
    width: 75px;
    margin-top: 20px;
    margin-bottom: 15px;
}
#slick1 .slide-item span {}
#slick1 .slide-img {
    text-align: center;
    width: 100%;
    padding-top: 5px;
}
#slick1 .slide-tlt {
    width: 100%
}
#slick1 .slick-track {
    padding-bottom: 20px;
}
#slick1 .slick-arrow {
    display: none !important;
}
#slick1 .slick-dots li button:before {
    font-size: 0 !important;
    border: 1px solid;
    border-radius: 100%;
    width: 15px !important;
    height: 15px !important;
}
#slick1 .slick-dots li button {
    width: 15px !important;
    height: 15px !important;
}
#slick1 .slick-dots li {
    width: 15px !important;
    height: 15px !important;
}
#slick1 .slick-dots li.slick-active button:before {
    background: black
}
#app-info {
    background: #EDF6E9;
}
#app-info h5.header {
    border-bottom: 3px solid #4DA528;
    display: inline-block;
    padding-left: 30%;
    padding-top: 5%;
}
#app-info .container {
    position: relative;
}
#ios_dl {
    background: #EDF6E9 !important;
    background-color: #EDF6E9 !important;
    border: 1px solid #4CAF50;
    color: #4CAF50 !important;
}
img.app_1 {
    position: absolute;
    left: 0;
    width: 19%;
    top: 0;
}
img.app_2 {
    position: absolute;
    left: 16%;
    width: 19%;
    top: 60px;
}
@media only screen and (max-width: 1550px) {
    .app_2 {
        top: 0 !important;
    }
}
@media only screen and (max-width: 1370px) {
    .app_1 {
        width: 25%!important;
    }
    .app_2 {
        width: 25% !important;
        left: 25% !important;
    }
}
@media only screen and (max-width: 992px) {
    .app_1 {
        display: none !important;
    }
    .app_2 {
        display: none !important;
    }
}
/*#app-wallet .app-wallet-img {
    column-width: 300px;
    column-gap: 27px;
    padding: 0;
}*/
.wallet_3 img{
    margin-top: 52px;
}
#app-wallet img {
    width: 100%;
}
#app-wallet {
    padding: 6% 0;
}
#app-wallet h5.header {
    border-bottom: 3px solid #FF7700;
    display: inline-block;
    padding-left: 30%;
    padding-top: 5%;
}
#slick2 .slick-arrow {
    font-size: 30px !important;
    color: #E3E3E3;
    transform: none !important;
}
#slick2 .slick-slide img {
    margin: 0 auto;
}
#slick2 .slick-right {
    position: absolute;
    right: -42px;
    border: none;
    top: 30%;
    background: none;
}
#slick2 .slick-left {
    position: absolute;
    left: -42px;
    border: none;
    top: 30%;
    background: none;
}
#lab_social_icon_footer {
    padding: 40px 0;
}
#lab_social_icon_footer a {
    color: #333;
}
#lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
#lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
/*
Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
}
#lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
}
#lab_social_icon_footer #social-gp:hover {
    color: #d34836;
}
#lab_social_icon_footer #social-em:hover {
    color: #f39c12;
}
.facebook-link {
    color: #3B5998 !important;
}
.twitter-link {
    color: #29C5F6 !important;
}
.google-link {
    color: #F34A38 !important;
}
.envelope-link {
    color: #f39c12 !important;
}
.page-footer {
    background: #EEF2F6 !important
}
#bazar_link {
  background: #EEF2F6 !important;
  border : 1px solid #000;
  color : #000;
}
#bazar_link i{

}
#bazar_link span{
      position: relative;
    bottom: 3px;
    margin: 0 10px
}
#googlePlay_link {
  background: #EEF2F6 !important;
  border : 1px solid #000;
  color : #000;
}
#googlePlay_link i{

}
#googlePlay_link span{
      position: relative;
    bottom: 3px;
    margin: 0 10px
}
#appStore_link {
  background: #EEF2F6 !important;
  border : 1px solid #000;
  color : #000;
}
#appStore_link i{

}
#appStore_link span{
      position: relative;
    bottom: 3px;
    margin: 0 10px
}
#index-page h5.header {
    border-bottom: 3px solid #FF7700;
    display: inline-block;
    padding-left: 30%;
    padding-top: 5%;
}
.carousel .indicators .indicator-item {
    background-color: #000;
}
.carousel .indicators .indicator-item.active {
    background-color:#FF7700 ;
}
#rules-title{
        padding-left: 10px !important;
        padding-right: 10px !important;
}

.carousel .indicators {
    bottom: -30px !important;
}








.contactUs-page{
    padding-top: 50px;
    padding-bottom: 30px;
}


#index-page span.header {
    border-bottom: 3px solid #FF7700;
    display: inline-block;
    padding-left: 30%;
    padding-top: 5%;
    font-size: 18px;
}

#index-page p {
    line-height: 2rem;
    padding: 0 !important;
    margin: 5px 5px 0;
}
















#carousel {
position: relative;
    margin: 0;
}

#slides {
overflow: hidden;
position: relative;
width: 100%;
height:  100%;
}

#slides ul {
list-style: none;
width:100%;
height:100%;
margin: 0;
padding: 0;
position: relative;
}

 #slides li {
width:100%;
height:100%x;
float:right;
text-align: justify;
position: relative;
direction: rtl;

}
/* Styling for prev and next buttons */
.btn-bar{
    max-width: 346px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 40px;
    width: 100%;
    z-index: 1;
}

 #buttons {
padding:0 0 5px 0;
float:right;
}

#buttons a {
text-align:center;
display:block;
font-size:50px;
float:left;
outline:0;
margin:0 60px;
color:#b14943;
text-decoration:none;
display:block;
padding:9px;
width:35px;
}

a#prev:hover, a#next:hover {
color:#FFF;
text-shadow:.5px 0px #b14943;  
}

.quote-phrase, .quote-author {
font-family:sans-serif;
font-weight:300;
display: table-cell;
vertical-align: middle;
padding: 5px 20px;
font-family:'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
height: 200px;
font-size:24px;
color:#FFF;
font-style:italic;
text-shadow:.5px 0px #b14943;  
}

.quote-marks {
font-size:30px;
padding:0 3px 3px;
position:inherit;
}

.quote-author {
font-style:normal;
font-size:20px;
color:#b14943;
font-weight:400;
height: 30px;
}

.quoteContainer, .authorContainer {
display: table;
width: 100%;
}
#index-page {
    min-height: 600px
}





.menu-btn-title{
    border-bottom: 3px solid #000;
    display: inline-block;
    padding-left: 30%;
    color: #000;
    padding-top: 5%;
}
.menu-btn {
}
.menu-btn ul {
    margin: 11px 15px 5px;
    padding: 0;
}
.menu-btn ul *{ 
}
.menu-btn li {
    font-size: 14px;
    line-height: 32px;
    height: 40px;
}
.menu-btn a {
    display: inline-block;
    width: 100%;
    height: 40px;
    color: #000;
}
.menu-btn a:hover{
    border-bottom: 1px solid #FF7700;
    color: #FF7700;
}
.menu-btn li::before {
    content: "•";
    color: #000;
    font-size: 30px;
    position: relative;
    display: inline-block;
    width: 0;
    margin-left: 0;
    top: 6px;
    left: 17px;
}
